#check {
    display: none;
}

.nav-image {
    padding: 15px;
    flex: 2;
    margin: auto;
    -o-object-fit: contain;
    object-fit: contain;
    height: 60px;
    width: auto;
}

.navbar.header-bg {
    background-color: #310a0a;
    height: 60px;
    padding: inherit;
  }

.nav-link {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}




